{% extends 'base.html.twig' %}

{% block body %}


    <div id="container">
        <div id="header">
            <div id="post_number">
                Post: #post
            </div>
            <div id="export">
                <input type="button" value="Export" />
            </div>
            <div id="views_number">Views: #views</div>
        </div>

        <div id="reply_box">
            {{ form_start(form, {'method': 'POST', 'attr' : {'id' : 'app_banner_form', 'class':'new-ajax-form', 'data-locationname' : '', 'data-locationid' : '', 'data-appbannerid' : ''}}) }}
            <div class="col-md-6">
                {{ form_label(form.title, null, {'label_attr': {'class': 'col-md-4'}}) }}
                {{ form_widget(form.title, {'attr':{'class': 'col-md-8'}}) }}
            </div>
            <div class="col-md-6">
                {#{{ form_label(form.imageFile, null, {'label_attr': {'class': 'col-md-4'}}) }}#}
                {#{{ form_widget(form.imageFile, {'attr':{'class': 'col-md-8'}}) }}#}
            </div>
            {{ form_end(form) }}
        </div>

        <div id="posts">

        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        #container{
            width: 100%;
        }
        #header{
            width: 100%;
        }
        #post_number, #export, #views_number{
            width: 33%;
            float: left;
            text-align: center;
        }

    </style>
{% endblock %}
