{% extends 'base.html.twig' %}

{% block body %}


    <div id="container">
        <div id="header" class="col-md-12">
            <h1>Welcome to instagramEd!</h1>
            <div id="post_number" class="col-md-4">
                Post: {{ images|length }}
            </div>
            <div id="export" class="col-md-4">
                <input type="button" value="Export" />
            </div>
            <div id="views_number" class="col-md-4">Views: #views</div>
        </div>

        <div id="reply_box" class="col-md-12">
            <h2>Upload new image</h2>
            {{ form_start(form, {'method': 'POST', 'attr' : {'id' : 'reply_form'}}) }}
                <div class="uploadField col-md-12">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'col-md-4'}}) }}
                    {{ form_widget(form.title, {'attr':{'class': 'col-md-8'}}) }}
                </div>
                <div class="uploadField col-md-12">
                    {{ form_label(form.imageFile, null, {'label_attr': {'class': 'col-md-4'}}) }}
                    {{ form_widget(form.imageFile, {'attr':{'class': 'col-md-8'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
        {% if images|length > 0  %}
            <div id="posts">
                <h2>Posts</h2>
            </div>
        {%  endif  %}

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #container{
            width: 80%;
            float: none;
            margin:auto;
        }
        #header{
            margin: 20px 0;
        }
        #post_number, #export, #views_number{
            text-align: center;
        }

        #reply_box .uploadField { margin-bottom: 10px; }

    </style>
{% endblock %}
