{% extends 'base.html.twig' %}

{% block title %}
    {{ configuration.title }}
{% endblock %}

{% block body %}
    <div id="container">
        <div id="header" class="col-md-12">
            <h1>Welcome to instagramEd!</h1>
            <div id="post_number" class="col-md-4">
                Post: {{ images|length }}
            </div>
            <div id="export" class="col-md-4">
                <input type="button" value="Export" />
            </div>
            <div id="views_number" class="col-md-4">Views: {{ configuration.views }}</div>
        </div>

        <div id="reply_box" class="col-md-12">
            <h2>Upload new image</h2>
            {{ form_start(form, {'method': 'POST', 'attr' : {'id' : 'reply_form'}}) }}
                <div class="uploadField col-md-12">
                    {{ form_label(form.title, null, {'label_attr': {'class': 'col-md-4'}}) }}
                    {{ form_widget(form.title, {'attr':{'class': 'col-md-8'}}) }}
                </div>
                <div class="uploadField col-md-12">
                    {{ form_label(form.imageFile, null, {'label_attr': {'class': 'col-md-4'}}) }}
                    {{ form_widget(form.imageFile, {'attr':{'class': 'col-md-8'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
        {% if images|length > 0  %}
            <div id="posts" class="col-md-12">
                <h2>Posts</h2>

                {% for image in images %}
                    <div class="imageContainer col-md-12">
                        {% if image.title is defined %}
                            <h3>{{ image.title }}</h3>
                        {% endif %}
                        <div class="imageViewer col-md-12">
                            <img src="{{ image.image }}" />
                        </div>
                    </div>
                {% endfor %}

            </div>
        {%  endif  %}

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {%  stylesheets
    '../web/bundles/app/css/custom_instagram.css'
    filter='cssrewrite' package='css' output='static/css/custom_instagram.css' %}
    <link rel="stylesheet" href="{{ asset_url}}">
    {%  endstylesheets  %}
{% endblock %}
